[Unit]
Description=@Home Backend
After=network.target redis.service clamd@scan.service

[Service]
EnvironmentFile=/etc/hcw-athome/hcw-athome.conf
Type=simple
User=hcwhome
ExecStart=/usr/bin/node app.js
WorkingDirectory=/usr/share/hcw-athome/backend/
Restart=always

[Install]
WantedBy=multi-user.target
