Source: hcw-athome-backend
Section: unknown
Priority: optional
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper-compat (= 12), nodejs (>=18), nodejs (<20)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/hcw-athome-backend
#Vcs-Git: https://salsa.debian.org/debian/hcw-athome-backend.git
Rules-Requires-Root: no

Package: hcw-athome-backend
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs (>=18), nodejs (<20)
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
