#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	## Prepare node_modules
	make
	## Create datadir folder
	install -d -m0755 debian/hcw-athome-backend/usr/share/hcw-athome/backend/
	cp -a .sailsrc app.js api config node_modules package.json public views debian/hcw-athome-backend/usr/share/hcw-athome/backend/
	install -d -m0755 debian/hcw-athome-backend/lib/systemd/system
	cp hcw-athome.service debian/hcw-athome-backend/lib/systemd/system
	## Create config folder
	install -d -m0755 debian/hcw-athome-backend/etc/hcw-athome/
	cp .env.dist debian/hcw-athome-backend/etc/hcw-athome/hcw-athome.conf
	cp saml.key debian/hcw-athome-backend/etc/hcw-athome/
	## Create nginx config
	cp nginx/nginx-common debian/hcw-athome-backend/etc/hcw-athome/
	cp nginx/nginx-proxy debian/hcw-athome-backend/etc/hcw-athome/
	## Copy nginx sample
	install -d -m0755 debian/hcw-athome-backend/usr/share/doc/hcw-athome-backend/nginx-samples/
	cp -a nginx/hcw-athome-doctor.conf debian/hcw-athome-backend/usr/share/doc/hcw-athome-backend/nginx-samples/
	cp -a nginx/hcw-athome-patient.conf debian/hcw-athome-backend/usr/share/doc/hcw-athome-backend/nginx-samples/
	cp -a nginx/hcw-athome-patient.conf debian/hcw-athome-backend/usr/share/doc/hcw-athome-backend/nginx-samples/
	cp -a nginx/hcw-athome-scheduler.conf debian/hcw-athome-backend/usr/share/doc/hcw-athome-backend/nginx-samples/
	mkdir debian/hcw-athome-backend/usr/bin/
	cp helpers/cli.py debian/hcw-athome-backend/usr/bin/hcw
	chmod +x debian/hcw-athome-backend/usr/bin/hcw