<div class="cover">
    <h1>An error occurred</h1>
    <% if (error && error.message) { %>
        <p class="lead"><%= error.message %></p>
    <% } else { %>
        <p class="lead"><%= error %></p>
    <% } %>
</div>
